<ion-view title="ELesson 2" hide-nav-bar="true" id="page16" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding" scroll="false">
        <div class="">
            <img src="img/FxP7If3NTwCFc3scA27x_UIewgyCcSiSyIwO4GjJX_unlock_lock_security_secure-512.png" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h2 id="eLesson2-heading7" style="color:#000000;" class=" ">Lesson 2</h2>
        <p id="eLesson2-markdown17" style="color:#000000;" class=" ">How to create strong passwords? A strong password has 12 Characters, There’s no minimum password length everyone agrees on, but you should generally go for passwords that are a minimum of 12 to 14 characters in length. A longer password would
            be even better. Includes Numbers, Symbols, Capital Letters, and Lower-Case Letters: Use a mix of different types of characters to make the password harder to crack. I Stay away from obvious dictionary words and combinations of dictionary words.
            For example, “house” is a terrible password. “Red house” is also very bad.</p>
        <div id="eLesson2-button-bar14" class=" button-bar "></div>
        <a ui-sref="englishLesson" id="eLesson2-button28" class=" button button-positive  button-block ">Back to Main</a>
    </ion-content>
</ion-view>