<ion-view title="ELesson 1" hide-nav-bar="true" id="page15" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <div class="">
            <img src="img/eEzwjHVZTG547YCdcQ4W_UIewgyCcSiSyIwO4GjJX_unlock_lock_security_secure-512.png" width="50%" height="50%" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h2 id="eLesson1-heading6" style="color:#000000;" class=" ">Lesson 1</h2>
        <div id="eLesson1-button-bar13" class=" button-bar "></div>
        <p id="eLesson1-markdown15" style="color:#000000;" class=" ">Why do you need password? Although data breaches are out of your control, it's still imperative to create passwords that can withstand brute-force attacks and relentless frenemies. Avoiding both types of attacks is dependent on the complexity
            of your password. Ideally, each of your passwords would be at least 16 characters, and contain a combination of numbers, symbols, uppercase letters, lowercase letters, and spaces. The password would be free of repetition, dictionary words,
            usernames, pronouns, IDs, and any other predefined number or letter sequences.</p>
        <a ui-sref="englishMain" id="eLesson1-button24" class=" button button-positive  button-block ">Back to Main</a>
    </ion-content>
</ion-view>