<ion-view title="English Video 1" hide-nav-bar="true" id="page13" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding" scroll="false">
        <div id="englishVideo1-button-bar10" class=" button-bar "></div>
        <div class="">
            <img src="img/UIewgyCcSiSyIwO4GjJX_unlock_lock_security_secure-512.png" width="50%" height="50%" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <p id="englishVideo1-markdown13" style="color:#000000;font-size:30px;" class=" ">
            <strong>Cyber Scam</strong>
        </p>
        <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="englishVideo1-video3" class=" ">
            <iframe src="https://www.youtube.com/embed/5M0mIjtaMoM?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
        </div>
        <a ui-sref="englishVideo2" id="englishVideo1-button15" class=" button button-positive  button-block ">Next Video</a>
        <a ui-sref="englishVideo" id="englishVideo1-button14" class=" button button-positive  button-block ">Back</a>
    </ion-content>
</ion-view>