<ion-view title="English Video 2" hide-nav-bar="true" id="page14" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding" scroll="false">
        <div id="englishVideo2-button-bar12" class=" button-bar "></div>
        <div class="">
            <img src="img/UIewgyCcSiSyIwO4GjJX_unlock_lock_security_secure-512.png" width="50%" height="50%" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <p id="englishVideo2-markdown14" style="color:#000000;font-size:30px;" class=" ">
            <strong>Passwords</strong>
        </p>
        <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="englishVideo2-video4" class=" ">
            <iframe src="https://www.youtube.com/embed/BzG7ctb_CuA?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
        </div>
        <a ui-sref="englishMain" id="englishVideo2-button16" class=" button button-positive  button-block ">Next</a>
        <a ui-sref="englishVideo" id="englishVideo2-button23" class=" button button-positive  button-block ">Back</a>
    </ion-content>
</ion-view>