<ion-view title="English Main" hide-nav-bar="true" id="page5" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding" scroll="false">
        <div id="englishMain-button-bar6" class=" button-bar "></div>
        <div class="">
            <img src="img/UIewgyCcSiSyIwO4GjJX_unlock_lock_security_secure-512.png" width="50%" height="50%" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <ion-list id="englishMain-list7" class=" ">
            <ion-item class="item-avatar  " id="englishMain-list-item21" ui-sref="englishLesson">
                <img src="img/kvULfPG2QkSe0KHEdYkF_lessons2.png">
                <h2>Lessons</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="englishMain-list-item22" ui-sref="englishQuiz">
                <img src="img/AkCu4TW5SEyCmIsLt6jm_quiz2.png">
                <h2>Quiz</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="englishMain-list-item23">
                <img src="img/4LFcwFEtQ2Sy2DPQWeOs_games2.png">
                <h2>Game</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="englishMain-list-item24" ui-sref="englishVideo">
                <img src="img/EL5YFITOQg2S97vbgJXe_video2.png">
                <h2>Videos</h2>
            </ion-item>
        </ion-list>
        <a ui-sref="start" id="englishMain-button10" class=" button button-positive  button-block ">Back</a>
    </ion-content>
</ion-view>