<ion-view title="English Quiz" hide-nav-bar="true" id="page6" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding" scroll="false">
        <div id="englishQuiz-button-bar7" class=" button-bar "></div>
        <div class="">
            <img src="img/UIewgyCcSiSyIwO4GjJX_unlock_lock_security_secure-512.png" width="50%" height="50%" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <p id="englishQuiz-markdown5" style="color:#000000;font-size:30px;" class=" ">
            <strong>Quizzes</strong>
        </p>
        <ion-list id="englishQuiz-list8" class=" ">
            <ion-item class="item-avatar  " id="englishQuiz-list-item10" ui-sref="quiz1Qn1">
                <img src="img/Z1aIvt70QmKpY7z08Lsw_quiz2.png">
                <h2>Quiz 1</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="englishQuiz-list-item25" href="#" onclick="window.open('Quiz 2', '_system', 'location=yes'); return false;">
                <img src="img/Z1aIvt70QmKpY7z08Lsw_quiz2.png">
                <h2>Quiz 2</h2>
            </ion-item>
        </ion-list>
        <a ui-sref="englishMain" id="englishQuiz-button11" class=" button button-positive  button-block ">Back</a>
    </ion-content>
</ion-view>