<ion-view title="Malay Main" hide-nav-bar="true" id="page3" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding" scroll="false">
        <div id="malayMain-button-bar4" class=" button-bar "></div>
        <div class="">
            <img src="img/UIewgyCcSiSyIwO4GjJX_unlock_lock_security_secure-512.png" width="50%" height="50%" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <ion-list id="malayMain-list5" class=" ">
            <ion-item class="item-avatar  " id="malayMain-list-item13" ui-sref="start">
                <img src="img/kvULfPG2QkSe0KHEdYkF_lessons2.png">
                <h2>Pelajaran</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="malayMain-list-item14" ui-sref="start">
                <img src="img/AkCu4TW5SEyCmIsLt6jm_quiz2.png">
                <h2>Kuiz</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="malayMain-list-item15" ui-sref="start">
                <img src="img/4LFcwFEtQ2Sy2DPQWeOs_games2.png">
                <h2>Permainan</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="malayMain-list-item16" ui-sref="start">
                <img src="img/EL5YFITOQg2S97vbgJXe_video2.png">
                <h2>Klip</h2>
            </ion-item>
        </ion-list>
        <a ui-sref="start" id="malayMain-button8" class=" button button-positive  button-block ">Back</a>
    </ion-content>
</ion-view>