<ion-view title="Quiz 1 Instructions" hide-nav-bar="true" id="page8" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="">
            <img src="img/eEzwjHVZTG547YCdcQ4W_UIewgyCcSiSyIwO4GjJX_unlock_lock_security_secure-512.png" width="50%" height="50%" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h2 id="quiz1Instructions-heading1" style="color:#000000;" class=" ">Quiz 1</h2>
        <p id="quiz1Instructions-markdown8" style="color:#000000;font-size:21px;" class=" ">Instructions:</p>
        <div id="quiz1Instructions-button-bar9" class=" button-bar "></div>
        <a ui-sref="englishMain" id="quiz1Instructions-button18" class=" button button-positive  button-block ">Back to Main</a>
    </ion-content>
</ion-view>