<ion-view title="Start" hide-nav-bar="true" id="page1" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding" scroll="false">
        <div class="">
            <img src="img/UIewgyCcSiSyIwO4GjJX_unlock_lock_security_secure-512.png" width="50%" height="50%" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <p id="start-markdown1" style="color:#000000;font-size:21px;text-align:center;" class=" ">Welcome to
            <strong>CybSecurity</strong>
        </p>
        <p id="start-markdown4" style="color:#000000;font-size:21px;text-align:center;" class=" ">Select Your Language</p>
        <ion-list id="start-list3" class=" ">
            <ion-item id="start-list-item5" ui-sref="englishMain" class="  ">English</ion-item>
            <ion-item id="start-list-item6" ui-sref="chineseMain" class="  ">Chinese</ion-item>
            <ion-item id="start-list-item7" ui-sref="malayMain" class="  ">Malay (Bahasa Melayu)</ion-item>
            <ion-item id="start-list-item8" class="  ">Tamil</ion-item>
        </ion-list>
        <div id="start-button-bar3" class=" button-bar ">
            <button id="start-button7" class=" button button-assertive  button-block ">Exit</button>
        </div>
    </ion-content>
</ion-view>